<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ShopMapper">

    <insert id="addShop">
	insert  into  t_shop (
	name, avatar, address, wifi, phone, longitude, latitude,orgNo,mercId,trmNo
	)value (
	#{name},#{avatar},#{address},#{wifi},#{phone},#{longitude},#{latitude},#{orgNo},#{mercId},#{trmNo}
	)
    </insert>
<select id="Allselect" resultType="com.ruoyi.system.domain.Shop" parameterType="java.lang.Integer">
	SELECT * FROM
	t_shop
	where
	id=#{shoppId}
</select>
	<select id="selectAll" resultType="com.ruoyi.system.domain.Shop">
		select  * from t_shop
	</select>

	<select id="shopDetails" resultType="com.ruoyi.system.domain.Shop">
		select  * from t_shop  where id=#{id}
	</select>

	<update id="updateShop">
		update  t_shop set name=#{name},avatar=#{avatar},wifi=#{wifi}, phone=#{phone}, longitude=#{longitude}, latitude=#{latitude} ,address=#{address} where id=#{id}
	</update>

	<delete id="deleteShop">
		delete  from  t_shop where  id=#{id}
	</delete>

</mapper>








